[package]
name = "ila-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
bitvec = "1.0.1"
clap = { version = "4.5.32", features = ["derive"] }
crossterm = "0.28.1"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serialport = "4.7.0"
tui = "0.19.0"
vcd = "0.7.0"
